body {
    background: #222;
    font-family: sans-serif;
    color: lightgoldenrodyellow;
}
h1 {
    font-weight: normal;
}
.btn {
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    padding: .5em .8em;
    transition: box-shadow .1s;
    -webkit-transition: box-shadow .1s;
    color: lightgrey;
}
.btn:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}
.btn:active, .active, .active:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, .2),
    inset 0 0 4px rgba(0, 0, 0, .1);
}
.add {
    float: right;
    background: transparent;
}
#container {
    max-width: 42em;
    margin: 0 auto 2em auto;
}
.list {
    position: relative;
}
.row {
    overflow: hidden;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0px;
    margin: .5em 0;
    padding: 1em;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2);
    transition: all .4s;
    -webkit-transition: all .4s;
}
.row div {
    display: inline-block;
    vertical-align: middle;
}
.row > div:nth-child(1) {
    width: 5%;
}
.row > div:nth-child(2) {
    width: 30%;
}
.row > div:nth-child(3) {
    width: 65%;
}
.rm-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #C25151;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    line-height: 1.4em;
    padding: 0;
}
